```pd.transform(func, axis=0)
```
以上就是transform转换数值的基本用法，参数含义如下：

- func是指定用于处理数据的函数，它可以是普通函数、字符串函数名称、函数列表或轴标签映射函数的字典。
- axis是指要应用到哪个轴，0代表列，1代表行。

In [14]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" 
import pandas as pd
df = pd.DataFrame({'A': [1,2,3], 'B': [10,20,30] })
df
def plus_10(x):
    return x+10
df.transform(plus_10)

   A   B
0  1  10
1  2  20
2  3  30

    A   B
0  11  20
1  12  30
2  13  40

In [15]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" 
df = pd.DataFrame({'A': [1,2,3], 'B': [10,20,30] })
df
df.transform(lambda x: x+10)

   A   B
0  1  10
1  2  20
2  3  30

    A   B
0  11  20
1  12  30
2  13  40

In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" 
df = pd.DataFrame({
  'restaurant_id': [101,102,103,104,105,106,107],
  'address': ['A','B','C','D', 'E', 'F', 'G'],
  'city': ['London','London','London','Oxford','Oxford', 'Durham', 'Durham'],
  'sales': [10,500,48,12,21,22,14]
})
df
df['city_total_sales'] = df.groupby('city')['sales'].transform('sum')
df.style.bar("sales",vmin=0)

In [30]:
def list_del_list(o_list,d_list):
    r_list=[]
    for i in o_list:
        if i not in d_list:
            r_list.append(i)
    return r_list

s1 = (1, 2, 3, 4, 5, 6)
s2 = (2, 3, 5)

s1=del_list(s1,s2)
print('s1_1:', s1)
s3 = s1
print('s2:', s2)
print('s3:', s3)
print('s1_2:', s1)

s1_1: [1, 4, 6]
s2: (2, 3, 5)
s3: [1, 4, 6]
s1_2: [1, 4, 6]